@source "./src";

@theme {
  --animate-scale-in: scale-in 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-scale-out: scale-out 0.2s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-in: fade-in 0.15s ease-out forwards;
  --animate-fade-out: fade-out 0.15s ease-out forwards;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-slide-up-fade: slide-up-fade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-fade: slide-right-fade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down-fade: slide-down-fade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-fade: slide-left-fade 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 0.95) rotate(0);
  }
}

@keyframes scale-out {
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0) scale3d(0.95, 0.95, 0.95) rotate(0);
  }
}

@keyframes caret-blink {
  0%,
  70%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0;
  }
}

@keyframes slide-up-fade {
  0% {
    opacity: 0;
    transform: translateY(var(--offset, 2px));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-fade {
  0% {
    opacity: 0;
    transform: translateX(var(--offset, -2px));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-fade {
  0% {
    opacity: 0;
    transform: translateY(var(--offset, -2px));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-fade {
  0% {
    opacity: 0;
    transform: translateX(var(--offset, 2px));
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
